.section {
    background-image: url('https://res.cloudinary.com/duxc9clvh/image/upload/v1702037279/real-estate/DSC_0227_kvaq03.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
  }
  .container{
    padding: 1rem;
    position: relative;
    box-sizing: border-box; 
    background-color: rgba(0, 0, 0, 0.527);
  }

.box{
    background-color: var(--secondary);
    height: 30rem;
    color: black;
    border-radius: 20px;
    text-align: center;
    margin: 4rem 0;
    gap: 1rem;
    overflow: hidden;
  }
.reviewBox{
    margin: 2rem;
  }
.reviewimg{
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  /* border-radius-top: 20px; */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.reviewimg img{
  height: 10rem;
  width:10rem;
  border-radius: 50%;
}
.reviewData{
  flex-direction: column;
  margin: 2rem;
}
.home-review-slider .slick-slide>div {
  margin: 0 10px;
}

.reviewData h2{
  font-size: 1.5rem;
}
@media (max-width: 680px) {
  .reviewData h2{
    font-size: 1rem;
  }
  .reviewData p{
    height:12rem;
    margin-top: 0.5rem;
    overflow-y:auto;
    font-weight: 500;
    text-align:justify;
    display:flex;
    flex-direction:column;
    
  }.reviewData p::-webkit-scrollbar {
    width: 0px;
   
  }
} 