.portfolio-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .categories, .categories1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .categories1 button {
    /* padding: 10px; */
    cursor: pointer;
    border: none;
    background-color: none;
    background: none;
    outline: none;
    font-size: 1rem;
  }
  .portfolio-container{
    position: relative;
    width: 200px;
  }
  .portfolio-container .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    transform: rotate(-45deg);
    transition: transform 0.3s;
   }
   .portfolio-container .select {
    position: relative;
    padding: 8px 20px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    outline: none;
   }
   .categories{
    display: none;
  }
   .portfolio-container .select:hover  .portfolio-container .icon {
    transform: rotate(0deg);
   }
  .categories1 button {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .categories1 button::before {
    margin-left: auto;
  }
  
  .categories1 button::after, .categories1 button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .categories1 button:hover::after, .categories1 button:hover::before {
    width: 100%;
  }
  .my-masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  .my-masonry-grid_column img {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  @media (max-width: 768px){
    .categories{
      display: block;
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
   .categories1{
    display: none;
   }
  }