
.navbar {
  background: none; 
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 2rem;
  align-items: center;
  color: var(--secondary);
}

.nav-links {
  display: flex;
  gap: 4.5rem;
  align-items: center;
}

.logo {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}
.mobile-menu {
  display: none;
}
.navItem a {
  text-decoration: none;
  /* margin-left: 2rem; */
  padding: 0.5em 0.5em;
  position: relative;
transition: .5s ease;

}
.navItem a::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5px;
  width: 0;
  background-color: #DC4E39;
  transition: .5s ease;
}
.navItem a:hover::before{
  width:100%;
}
/* Navbar.css */
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.744); /* White background with 90% opacity */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* White shadow with 30% opacity */
  transition: background-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}
.mobile-menu.open {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1;
}

.mobile-menu a {
  padding: 0.5rem 0;
  text-decoration: none;
  color: white;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
 }
 .btn-menu,
 .btn-close {
   padding: 0.2rem 0.5rem;
   font-size: 2rem;
   display: none;
   border: none;
   background: none;
 }
 .back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.7);
 } 
@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
  }
  .navContainer .toggleNavbar {
    transform: none;
    background: rgba(0, 0, 0, 0.979)
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000;
    z-index: 10;
    transform: translateY(-100vh);
  }
  .btn-menu,
  .btn-close {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #fff;
  }
  .button {
    margin-top: 1rem;
    width: 50%;
  }
  .navContainer{
    display: flex;
    justify-content: start;
    align-items: start;
  }

}


.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
