.home {
  position: relative;
  overflow: hidden;
}

.slide {
 /* height: 100vh; */
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/* .slick-slide>div{
  margin: 0 0px;
} */
.slide::before {
  content: '';
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.628);
  left: 0;
  width: 100%;
  height: 100%;
  
}

.slide1 {
  background-image: url('../../images/DSC_1513.jpg');
  background-size: cover;
}
.slide img {
  max-height: auto; 
  object-fit: cover;
  width: 100%;
  display: block;

}

.slide h1,
.slide p,
.slide button {
  position: relative;
  z-index: 1;
  color: white;
  margin: 1rem;
}

.slide h1 {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.slide p {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}

.slide2 {
  background-image: url('../../images/IMG1.jpg');
}

.slide3 {
  background-image: url('../../images/IMG4.jpg');
}

.slide-Middle {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  background: none;
  border: none;
  color: white;
  height: 20px;
}
.slide h1 {
  font-size: 4rem;
}
.slide p {
  font-size: 1.5rem;
  font-weight: 300;
}
.prev-button {
  left: 50px;
}

.next-button {
  right: 50px;
}

@media screen and (max-width: 768px) {
  .control-button {
    display: none;
  }
  .slide {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide img {
  /* aspect-ratio: 3/4; */
    height: 100%;
    object-fit: contain;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .slide-Middle {
    gap: 0.5rem;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
  }
  .slide h1 {
    font-size: 1.4rem;
  }
  .slide p {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
