.section2 {
    background-image: url('../../../images/DSC_2962.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 100vh;     */
    background-position: center;
    background-attachment: fixed;
  }

  
  .content {
    position: relative;
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box; 
    background-color: rgba(0, 0, 0, 0.527);/* Include padding and borders in the width calculation */
  }
  

  .services {
    max-width: 25%;
    color: var(--secondary);
    box-sizing: border-box; /* Include padding and borders in the width calculation */
  }
  
  