.PhotoContainer {
    background-image: url('../../../images/DSC_2962.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 100vh;     */
    background-position: center;
    background-attachment: fixed;
  }
