.PhotoContainer {
    background-image: url('../../../images/IMG2.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 100vh;     */
    background-position: center;
    background-attachment: fixed;
  }
  .getInTouchButton {
    text-align: center;
    margin-top: 20px;
  }
  

  .photoContact{
    margin: 4rem;
    padding: 5rem;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.527);
    animation: fadeIn 1s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .photoContact span{
    margin-bottom: 1.5rem;
    font-weight:700 ;
  }
  .photoContact h2{
    color: #fff;
  }
  .photoContact p{
    margin-bottom: 1.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
    color: #fff;
  }
  .cssbuttons-io-button {
    background: var(--orange-gradient);
    color: #000;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--orange-gradient);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--orange-gradient);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--orange-gradient);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  @media (max-width: 768px){
    
  }